<div class="box">
    <div class="contato mt-5 mb-5">
        <h1 class="mb-3">Fale Conosco</h1>
        <div class="form-grup">
            <input type="text" name="Nome" class="form-control mb-3" placeholder="Digite seu nome">
        </div>

        <div class="form-grup">
            <input type="text" name="email" class="form-control mb-3" placeholder="Digite seu E-mail">
        </div>

        <div class="form-grup">
            <textarea name="Gilberto" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>
        </div>
        <button type="submit" class="btn btn-info" >
            Enviar
        </button>
    </div>
</div>