.contato{
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(75, 139, 123, 0.966);
    background-color: #7d98a1;
    
}

.box{
    display:flex;
    justify-content: center;
    background-image: url(../../assets/avenue-5239679_1920.jpg);
}

h1{
    font-weight: bold;
    width: 200px;
    color: white;
}
