<div class="bg-nav">
    
<a routerLink="/home"><img src="../../assets/img/momentumLogo.png" alt="logo" class="logo"></a>

<nav class="navbar navbar-expand-lg navbar-light">
    <div>
     
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Início<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sbrenos">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contato">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feed</a>
            </li>

        </ul>

    </div>
</nav>
</div>