<body>
    <div class="box">

      <form class="white" action="index.html" method="post">
          <h1>Log in</h1>

          <div class="inputbox">
            <input type="text" name="email" placeholder="example@mail.com">
             <label>Email Address</label>
          </div>

          <div class="inputbox">
            <input type="password" name="password" placeholder="***************" >
             <label>Password</label>
              <a href="#">Forgot password?</a>
          </div>

          <div class="check">
            <input type="checkbox"  value="x">
             <p>Keep me logged in</p>
              <input type="submit" value="Log in">
          </div>

          <div class="signup">
            <p href="#">Don't have an account? <a href="#" class="signer">Sign up</a></p>
          </div>

      </form>
      
      <div class="welcome">
        <h1>Welcome <span>to</span></h1>
         <img class="logoo" src="logo.png" alt="logo" >
         <h4>Login to access your account</h4>

      </div>

    </div>
  </body>

