body{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: white;

}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 1000px;
    height: 600px;
    background-color: white;
    box-shadow: 0px 2px 20px #929292;
}

.box h1 {
    color: rgba(6, 31, 83, 0.795);
    text-align: center;
    margin-top: 30%;
    font-size: 50px;

}

.box .welcome{
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    height: 600px;
    background-image: url("../../assets/bg.jpg");
    background-size: cover;


}

.white{
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    right: 600px;


}

.white .inputbox input{
    width: 70%;
    padding: 5px;
    margin: 20px 0;
    margin-top: 30px;
    margin-left: 60px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ccc; 
    
}

.white .check input{
    height: 40px;
    margin-left: 60px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ccc;


}

.white .check p{
    position: relative;
    margin-left: 80px;
    bottom: 48px;
    color: #ccc;
    font-size: 13px;
}

.white .inputbox {
    position: relative;

}

.white .inputbox a{
    position: absolute;
    right: 60px;
    top: 10px;
    font-size: 14px;
    color: #e6ec;
    text-decoration: none;

}

.white .inputbox label{
    position: absolute;
    top: 5px;
    left: 65px;
    font-size: 18px;
    color: #929292;
    transition: .5s;

}

.white .inputbox[type="submit"]{
    position: absolute;
    bottom: 187px;
    right: 50px;
    border: 0;
    background-color: #e6ec;
    color: white;
    font-size: 16px;
    width: 130px;
    height: auto;
    padding: 7px 5px;
    border-radius: 20brpx;
    cursor: pointer;
}

.white .signup{
    position: absolute;
    border: 10px;
    left: 30%;
    font-size: 12px;
    color: #929292;

}

.white .signup a{
    color: #e6ec;
    text-decoration: none;

}

.box .welcome img{
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(0,-20%);


}

.box .welcome h1{
    position: absolute;
    color: white;
    top: 17%;
    left: 10px;


}

.welcome h4{
    position: absolute;
    color: white;
    left: 20%;
    top: 55%;

} 

.box .welcome span{
    position: relative;
    color: #e6ec;
    top: 17%;
    left: 10px;

}

.box input:focus ~label{
    color: #e6ec;

}

::-webkit-input-placeholder{
    font-size: 16px;
    color: #ccc;
    margin: 0;
    padding: 0;

}

input:focus::-webkit-input-placeholder{
    transition: .5s;
    color: transparent;
} 