<h1 class="d-flex justify-content-center mt-5">Controle de Postagem</h1>
<hr>

<div class="container caixa-publicacao">
    <div class="publicacao" *ngFor="let postagem of listaPostagem | orderBy : key : reverse">
        <div class="d-flex justify-content-between mb-3">
            <p>{{postagem.textoPostagem}}</p>
            <div>
                <button type="submit" class="btn btn-danger">Excluir</button>
                <button type="submit" class="btn btn-info ml-1">Editar</button>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <p class="data">{{postagem.data_postagem | date: 'dd/MM/yyyy'}} às
                {{postagem.data_postagem | date: 'HH:mm'}} </p>
        </div>

    </div>
</div>