<div class="sobre"> 
<div>
  <img class="imagem" src="https://i.imgur.com/yfZTWEg.png" alt="">
</div>

<div class="texto-sobre">
  <h1>
    MOMENTUM
  </h1>
  <p>Somos uma rede social com intuito de facilitar sua busca por informações,
    compartilhamento de depoimentos
    e/ou locais de acolhimento para depressão e ansiedade. O momentum tem como propósito impactar
    positivamente sua rotina, entendendo-o e ajudando-o a perceber que a vida é feita de Momentums e que
    você pode e, é sim, capaz de transformá-los. Conte conosco nessa luta! Nosso suporte oferece
    informações, endereços de locais de apoio e uma plataforma para compartilhamento de experiências entre
    os usuários. Seja bem vindo, você é importante para nós!</p>
</div>




</div>

  <div class="titulo-equipe">
    <h1>
      Nossa Equipe
    </h1>
  </div>

  <div class="container">
    <hr>
  </div>


<div class="integrantes">

  <div class="pessoa">
    <img class="foto" src="https://i.imgur.com/70uob4C.jpg" alt="foto do alexandre">
    <h2>
      Alexandre Marcopoulos Henrique
    </h2>
    <p>
      Fullstack developer
    </p>
  </div>

  <div class="pessoa">
    <img class="foto" src="https://i.imgur.com/zHetQOn.jpg" alt="foto do kadu">
    <h2>
      Kadu Henrique Furtado
    </h2>
    <p>
      Fullstack developer
    </p>

  </div>

  <div class="pessoa">
    <img class="foto" src="https://i.imgur.com/3ZxQXhl.jpg" alt="foto do denise">
    <h2>
      Denise Pereira dos Santos
    </h2>
    <p>
      Fullstack developer
    </p>

  </div>

</div>